img {
    object-fit: cover;
}

a {
    text-decoration: none;
    color: black;
}

span.navbar-toggler-icon {
    color: white;
    display: flex;
    align-items: center;
}
span.navbar-toggler-icon:hover {
    color: $color-secondary;
}

a:hover {
    color: $color-secondary !important;
}

a.active {
    color: $color-secondary;
}

.btn:hover {
    background-color: $color-secondary !important;
    box-shadow: 3px 3px 10px grey;
}

.logoImg {
    margin-top: 100px;
}

#title {
    margin-top: 50px;
}

#nav {
    display: flex;
    justify-content: flex-end;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav li {
    justify-content: flex-end;
}

#counter, .basketIcon {
    color: $color-secondary;
}

#banner {
    padding: 0;
}

.jumbotron {
    background-image: url(/images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

#total {
    color: $color-secondary;
}

footer {
    background-image: url(../images/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}